<h1>About Bloccit</h1>
<p>Created by: MEERA</p>

<button class="social-btn"><%= link_to "Follow me", "https://twitter.com/kanyewest?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" %></button>
